<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiyou100.dao.CourseDao">
	<select id="listObject" resultType="courseDO">
		SELECT
		name
		,subject_id
		,`describe`
		FROM course

	</select>
	<select id="listObjectByQuery" resultType="courseDO">
		SELECT
		name
		,subject_id
		,`describe`
		FROM course
		<where>
			<if test="keywords != null">
				<foreach collection="keywords" item="item">
					OR s.name LIKE
					'%${item}%'
				</foreach>
			</if>
			<if test="status==0">
				AND status=0
			</if>
			<if test="status==1">
				AND status=1
			</if>
		</where>
	</select>

	<select id="countObjectByQuery" resultType="int">
		SELECT count(*)
		from (
		SELECT
		name
		,subject_id
		,`describe`
		FROM course
		<where>
			<if test="keywords != null">
				<foreach collection="keywords" item="item">
					OR s.name LIKE
					'%${item}%'
				</foreach>
			</if>
			<if test="status==0">
				AND status=0
			</if>
			<if test="status==1">
				AND status=1
			</if>
			</where>
			)a
	</select>


	<insert id="insertObject">
		insert into course
		(`name`,`describe`,`subject_id`)
		values
		(#{name},#{describe},#{subjectId})

	</insert>

	<update id="updateObject">
		update course
		set
		`name`=#{name},
		`describe`=#{describe},
		`subject_id`=#{subjectId}
		<where>
			<if test="id!=null">
				#{id}
			</if>
		</where>
	</update>


	<update id="deleteObject">
		update course
		set
		status=1
		<where>
			<if test="id!=null">
				#{id}
			</if>
		</where>
	</update>



</mapper>