<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiyou100.dao.SpeakerDao">

	<select id="listObject" resultType="speakerDO">
		SELECT
		id
		, name
		FROM
		speaker
	</select>

	<select id="listObjectByQuery" resultType="subjectDO">
		SELECT
		id
		, name
		, job
		, image_url
		, `describe`
		FROM
		speaker
		<where>
			<if test="keywords != null">
				<foreach collection="keywords" item="item" open="(" close=")"
					separator="OR">
					name LIKE '%${item}%'
				</foreach>
			</if>

			AND status == 0
		</where>
		LIMIT ${offset}, ${limit}
	</select>

	<select id="countObjectByQuery" resultType="int">
		SELECT
		count(*)
		FROM
		speaker
		<where>
			<if test="keywords != null">
				<foreach collection="keywords" item="item" open="(" close=")"
					separator="OR">
					name LIKE '%${item}%'
				</foreach>
			</if>

			AND status == 0
		</where>
	</select>

	<insert id="insertObject">
		INSERT INTO
		speaker(name, job, image_url, `describe`)
		VALUES
		(#{name}, #{job}, #{imageUrl}, #{describe})
	</insert>

	<update id="updateObject">
		UPDATE
		speaker
		<set>
			<if test="name != null">
				name = #{name},
			</if>

			<if test="job != null">
				job = #{job},
			</if>

			<if test="imageUrl != null">
				image_url = #{imageUrl},
			</if>

			<if test="describe != null">
				`describe` = #{describe},
			</if>

			<if test="status != null">
				status = #{status},
			</if>
		</set>
		WHERE
		id = #{id}
	</update>
</mapper>